<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lifty_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lifty_WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="bg-primary">
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img class="img-thumbnail image-thumb" src="https://utawesome.com/sites/default/files/styles/node_header/public/places/photos/historic_union_pacific_rail_trail.jpg?itok=vohd-9Lp" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav justify-content-center me-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" asp-area="" asp-controller="Admin" asp-action="Index">
                                        Главная
                                        <span class="visually-hidden">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Catalog">Каталог</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="About">О компании</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Contacts">Контакты</a>
                                </li>
                            </ul>
                            <form class="d-flex">
                                <input class="form-control me-sm-2" type="search" placeholder="Поиск в каталоге">
                                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Найти</button>
                            </form>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
    </div>
    
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted"></footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
