<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LiftTechLab///@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lifty_WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bg.css" asp-append-version="true" />
</head>
<body id="body">
    <div class="background-container" id="background"></div>
    <div class="background-container2" id="backgroun2"></div>

    <div style="min-height: 90.3vh;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="custom-bg-col">
        <footer>
            <ul class="nav justify-content-center border-bottom pb-1 mb-1">
                <li class="nav-item">
                    <a class="nav-link px-2 subtitle" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link subtitle" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link subtitle" asp-area="" asp-controller="Home" asp-action="About">О компании</a>
                </li>
            </ul>
            <span class="home-text12 Section-Text subtitle mb-5">
                LiftTechLab @DateTime.Today.Year
            </span>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
