@model Lifty_WebApp.DataAccess.Entities.AboutDataModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ADMIN - О Компании";
}


<div class="my-3">
    <form asp-action="About" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mb-3">
            <div class="col-md-5 col-md-auto mx-auto">
                <div class="form-group mb-2">
                    <label asp-for="Description" class="control-label ">О компании</label>
                    <textarea maxlength="255" asp-for="Description" style="min-height: 40px; max-height: 200px;" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <div id="AchievementsBlock" class="form-group">
                        <label asp-for="Achievements" class="control-label">Достижения</label>
                        @for (int i = 0; i < Model.Achievements.Count; i++)
                        {
                            <div id="inputContainer" class="form-group mb-2 d-flex">
                                <input maxlength="100" asp-for="Achievements" class="form-control" required value="@Model.Achievements[i]" />
                                <span asp-validation-for="Achievements" class="text-danger"></span>
                                @if (i > 0)
                                {
                                    <button class="btn text-danger" onclick="removeDiv(this)">-</button>
                                }
                            </div>
                        }
                    </div>
                    <button class="btn text-primary" onclick="addToBlock('Achievements')">Добавить поле ввода</button>
                </div>

                <div class="mb-2">
                    <div id="ServicesBlock">
                        <label asp-for="Services" class="control-label">Предлагаемые услуги</label>
                        @for (int i = 0; i < Model.Services.Count; i++)
                        {
                            <div id="inputContainer" class="form-group mb-2 d-flex">
                                <input maxlength="100" asp-for="Services" class="form-control" required value="@Model.Services[i]" />
                                <span asp-validation-for="Services" class="text-danger"></span>
                                @if (i > 0)
                                {
                                    <button class="btn text-danger" onclick="removeDiv(this)">-</button>
                                }
                            </div>
                        }
                    </div>
                    <button class="btn text-primary" onclick="addToBlock('Services')">Добавить поле ввода</button>
                </div>

                <div class="mb-2">
                    <div id="CollaborationsBlock">
                        <label asp-for="Collaborations" class="control-label">Сотрудничество</label>
                        @for (int i = 0; i < Model.Collaborations.Count; i++)
                        {
                            <div id="inputContainer" class="form-group mb-2 d-flex">
                                <input maxlength="100" asp-for="Collaborations" class="form-control" required value="@Model.Collaborations[i]" />
                                <span asp-validation-for="Collaborations" class="text-danger"></span>
                                @if (i > 0)
                                {
                                    <button class="btn text-danger" onclick="removeDiv(this)">-</button>
                                }
                            </div>
                        }
                    </div>
                    <button class="btn text-primary" onclick="addToBlock('Collaborations')">Добавить поле ввода</button>
                </div>

                <div class="my-3 text-center">
                    <input type="submit" value="Сохранить" class="btn text-success mx-1" />
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <script>
        function addToBlock(inputName){
            var htmlLine = "";
            var divId = '#' + inputName + "Block";

            htmlLine += '<div id="inputContainer" class="form-group mb-2 d-flex">' +
                            '<input maxlength="100" class="form-control" required="" value="" type="text" data-val="true" data-val-required="The ' + inputName + ' field is required." id="' + inputName + '" name="' + inputName + '"/>' +
                            '<span class="text-danger field-validation-valid" data-valmsg-for="' + inputName + '" data-valmsg-replace="true"></span>' +
                            '<button class="btn text-danger" onclick="removeDiv(this)">-</button>' +
                        '</div>';

            $(divId).append(htmlLine);
        }

        function removeDiv(btn){
            ((btn.parentNode).parentNode).removeChild(btn.parentNode);
        }
    </script>
}