@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ADMIN - Каталог";
}


<div id="process" class="home-catalog container">
    <div class="home-heading-container2">
        <h1 class="home-text19 Section-Heading text-primary-emphasis">Каталог</h1>
    </div>
    <div class="home-cards-container2">
        <div class="home-service-card1">
            <h3 class="home-text20 Card-Heading text-primary-emphasis">Товар 1</h3>
            <span class="home-text21 Card-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero.
            </span>
            <span class="Anchor text-dark-emphasis">Подробнее</span>
        </div>
        <div class="home-service-card2">
            <h3 class="home-text22 Card-Heading text-primary-emphasis">Товар 2</h3>
            <span class="home-text23 Card-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero.
            </span>
            <span class="Anchor text-dark-emphasis">Подробнее</span>
        </div>
        <div class="home-service-card3">
            <h3 class="home-text24 Card-Heading text-primary-emphasis">Товар 3</h3>
            <span class="home-text25 Card-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero.
            </span>
            <span class="Anchor text-dark-emphasis">Подробнее</span>
        </div>
    </div>
</div>

