@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ADMIN - Контакты";
}


<div id="resources" class="home-map bg-primary">
    <div class="home-content-container6">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8a4d5a722d598b32d519919663233eaead6d0ea3d835177385733288e21736a5&amp;source=constructor" 
            frameborder="0" class="home-yandex-maps"></iframe>
    </div>
</div>
