@model List<Lifty_WebApp.DataAccess.Entities.Item>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "ADMIN";
}


<div class="my-3 row">
    <div class="text-start col-1"></div>

    <div class="text-start col-6">
        <a asp-action="CreateTest" class="btn btn-outline-info">Добавить новый товар</a>
    </div>
</div>

