@model List<Lifty_WebApp.DataAccess.Entities.ItemModel>

@{
    ViewData["Title"] = "Каталог";
}


<div id="process" class="info-box content">
    <div class="home-heading-container2">
        <h1 class="home-text19 Section-Heading text-primary-emphasis">Каталог</h1>
    </div>
    <div class="home-cards-container2">
        @foreach (var item in Model)
        {
            <div class="home-service-card1">
                <h3 class="home-text20 Card-Heading text-primary-emphasis">@item.Name</h3>
                <span class="home-text21 Card-Text text-secondary-emphasis">
                    @item.Description
                </span>
                <span class="Anchor text-dark-emphasis">Подробнее</span>
            </div>
        }
    </div>
</div>
