@model Lifty_WebApp.DataAccess.Entities.ContactsModel

@{
    ViewData["Title"] = "Контакты";
}

<div id="resources" class="home-map bg-primary">
    <div class="my-3 text-light">
        <ul class="nav text-center">
            <li class="nav-item">
                @Model.Email
            </li>
            <li class="nav-item mx-5">
                |
            </li>
            <li class="nav-item">
                @Model.Number
            </li>
            <li class="nav-item mx-5">
                |
            </li>
            <li class="nav-item">
                @Model.Address
            </li>
        </ul>
    </div>
    <div class="home-content-container6">
        <iframe src="@Model.YandexMapLink" frameborder="0" class="home-yandex-maps"></iframe>
    </div>
</div>

@* <div id="resources" class="home-map bg-primary">
    <div class="home-content-container6">
        <iframe src="https://www.google.com/maps?q=2880 Broadway, New York;&amp;output=embed" class="home-google-maps"></iframe>
    </div>
</div> *@
