@{
    ViewData["Title"] = "Услуги";
}

<div id="resources" class="home-service1">
    <div class="home-content-container2">
        <div class="home-intro-text2">
            <h1 class="home-heading17 Section-Heading text-primary-emphasis">Услуги 1</h1>
            <span class="home-text26 Section-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.c Sed
                nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </span>
            <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
        </div>
    </div>
</div>
<div id="resources" class="home-service2">
    <div class="home-content-container3">
        <div class="home-intro-text3">
            <h1 class="home-heading18 Section-Heading text-primary-emphasis">Услуги 2</h1>
            <span class="home-text27 Section-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.c Sed
                nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </span>
            <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
        </div>
    </div>
</div>
<div id="resources" class="home-service3">
    <div class="home-content-container4">
        <div class="home-intro-text4">
            <h1 class="home-heading19 Section-Heading text-primary-emphasis">Услуги 3</h1>
            <span class="home-text28 Section-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.c Sed
                nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </span>
            <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
        </div>
    </div>
</div>
<div id="resources" class="home-service4">
    <div class="home-content-container5">
        <div class="home-intro-text5">
            <h1 class="home-heading20 Section-Heading text-primary-emphasis">Услуги 4</h1>
            <span class="home-text29 Section-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.c Sed
                nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </span>
            <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
        </div>
    </div>
</div>
