@model Lifty_WebApp.DataAccess.Entities.AboutDataModel

@{
    ViewData["Title"] = "Услуги";
}

<div class="">
    <h1 class="home-text11 Section-Heading text-primary-emphasis">Предлагаемые услуги:</h1>
    <div class="home-cards-container2">
        @foreach (var sTxt in Model.Services)
        {
            <div id="resources" class="home-service1">
                <div class="home-content-container2">
                    <div class="home-intro-text2">
                        <h1 class="home-heading17 Section-Heading text-primary-emphasis">@sTxt</h1>
                        <span class="home-text26 Section-Text text-secondary-emphasis">
                            @sTxt
                        </span>
                        <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
