@{
    ViewData["Title"] = "Home Page";
}

<div id="resources" class="home-intro">
    <div class="home-content-container1">
        <div class="home-intro-text1">
            <h1 class="home-heading10 Section-Heading text-primary-emphasis">Лифты</h1>
            <span class="home-text10 Section-Text text-secondary-emphasis">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam.c Sed
                nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis
                ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent
                taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos.
            </span>
            <button class="home-cta-btn1 Anchor btn-outline-primary">Узнать больше</button>
        </div>
    </div>
</div>

